<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registr<span class="app">App</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/docente">
        <ion-icon slot="icon-only" name="arrow-back" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ ramo?.nombre }} </ion-card-title>
      <ion-card-subtitle>SECCIÓN: <strong>{{ ramo?.seccion }} </strong></ion-card-subtitle>
      <ion-card-subtitle>SALA: <strong>{{ ramo?.sala }}</strong></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Cantidad de alumnos: <strong>{{ ramo?.alumnos }}</strong> <br><br>
      
      <h2>Horarios</h2>

      <ion-grid>
        <ion-row *ngFor="let hora of horas">
          <ion-col *ngIf="hora.asignaturaId === ramo?.id">{{ hora.dia }}</ion-col>
          <ion-col *ngIf="hora.asignaturaId === ramo?.id">{{ hora.horario }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
